{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Bella Projects Portfolio </title>
  {% endif %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="https://g">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/aos/aos.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://res.cloudinary.com/dbos9xidr/raw/upload/v1628668395/portfolio-style.css">

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock styles %}
</head>

<body>

  <div class="container-fluid">
      <!-- ======= Mobile nav toggle button ======= -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

      <!-- ======= Header ======= -->
      <header id="header">
        <div class="d-flex flex-column">

          <div class="profile">
            <img src="{% static '.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">obonyo cynthia</a></h1>
          </div>

          <nav class="nav-menu">
            <ul>
              <li class="active"><a href="{% url 'home' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
              <li><a href="{% url 'about' %}"><i class="bx bx-user"></i> <span>About</span></a></li>
              <li><a href="{% url 'resume' %}"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
              <li><a href="{% url 'portfolio' %}"><i class="bx bx-book-content"></i> Portfolio</a></li>
              <li><a href="{% url 'services' %}"><i class="bx bx-server"></i> Services</a></li>
              <li><a href="{% url 'contact' %}"><i class="bx bx-envelope"></i> Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->
          <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
        </div>
      </header><!-- End Header -->
        {% block content %}
        {% endblock content %}
            <!-- ======= Footer ======= -->
            <footer id="footer">
              <div class="container">
                <div class="copyright">
                  &copy; Copyright <strong><span>obonyo cynthia</span></strong>
                </div>
              </div>
            </footer><!-- End  Footer -->
  </div>
  {% block scripts %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/typed.js' %}/typed.min.js' %}"></script>
  <script src="{% static 'assets/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock scripts %}
</body>

</html>