{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container-fluid page-container">

  <!-- Looping through portfolios   -->
  <div class="row portfolio">
    <div class="col-md-3"></div>
    <!-- displaying portfolios portfolios -->
    <div class="col-md-6">
      <h2>{{ portfolio.title }}</h2>
      <p>{{ portfolio.description}}</p>
      <!--Display portfolios portfolio images  -->
      <img src="{{portfolio.project_image.url}}" class="img-responsive" alt="Image" onclick="window.open(this.src)">
      <div class="row live">
        <div class="col-md-3">
          <a href="{{portfolio.repo_link}}"><button class="btn link live-link">View on Github</button></a>
        </div>
        <div class="col-md-3">
          <a href="{{portfolio.live_link}}"><button class="btn link live-link">View Live Site</button></a>
        </div>
        <div class="col-md-6">
          <P>Posted on: <strong>{{ portfolio.published_on|date}}</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}