{%extends 'base.html'%}
{% load static %}
{% block content %}
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>"From an early age I have always been deeply interested in computing. It was my elder sister, introducing me to the computer systems at her work place that first sparked this interest. I can always remember the feeling of wanting to know just how computers worked, why they worked and what else they could do, and so today I live my dream of becoming a full stack developer.It has come to pass"
          .</p>
        </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'images/Bella.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Github:</strong> https://github.com/ObonyoCynthia</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +254792625077</li>
                <li><i class="icofont-rounded-right"></i> <strong>Location:</strong> Nairobi, Kenya</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> cynthiabella.obonyo@gmail.com</li>

              </ul>
            </div>
          </div>


          <p><strong>Languages Spoken: </strong>English, Kiswahili,Basic French,</p>

          <p><u><strong>Skills and Technologies:</strong></u></p>
          <p><strong>Web Development: </strong> CSS,Angular, Django, Flask HTML, Bootstrap,Wordpress.</p>
                  </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
          <h2>Programming Languages</h2>
          <p> I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.
            The following are the languages am so far very versed with and mostly use to develop my sites;</p>
        </div>

          <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>JavaScript:</strong></li>
                  <li><i class="icofont-rounded-right"></i> <strong>HTML,CSS:</strong></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Python:</strong></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Django:</strong></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Ruby on rails:</strong></li>
                </ul>
              </div>
            </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        </div>

    </div>
  </section><!-- End Skills Section -->
</main>
{% endblock %}