{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %} 
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Reach out</h2>
          <p>Feel free to contact me. Thank you.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Nairobi</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>cynthiabella.obonyo@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+254792625077</p>
              </div>

              <iframe src="https://maps.google.com/maps?q=kimathi%20street&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7">
            <h2>Leave a message here</h2>
                {% if messages %}
                {% for message in messages %}
                <p class="text-center"> {{ message }}</p>
                {% endfor %}
                {% endif %}
                <form class="forms" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form contact_form %}
                    <input type="submit" class="btn btn-primary" value="Send">
                </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </div>
</div>

{% endblock %}