{% extends 'base.html' %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <img src="../static/images/git.png" alt="">
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
<!-- End Hero -->
  <script type='text/javascript' src='../static/animation/demo/js/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='../static/animation/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='../static/animation/demo/js/demo.js'></script>
{% endblock content %}