{% extends 'base.html' %}

{% block content %}
<div class="container bg-light mt-5 pt-5" >
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 p-4">
            <h3>LOGIN</h3>
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control">
                </div>
              
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}